---
repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/pylint
    rev: v3.3.1
    hooks:
      - id: pylint
        additional_dependencies:
          - 'pytest'
  - repo: https://github.com/ikamensh/flynt/
    rev: '1.0.6'
    hooks:
      - id: flynt
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
