language: python
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - pypy

# command to install dependencies
install:
    - pip install lxml
    # python3.6+ has sha3 built-in, for older versions install pysha3
    # (except for pypy where pysha3 is broken)
    - "[[ ${TRAVIS_PYTHON_VERSION} == 3.[6789] || ${TRAVIS_PYTHON_VERSION} == pypy ]] || pip install pysha3"
    # python3.6+ has blake2 built-in, for older versions install pyblake2
    - "[[ ${TRAVIS_PYTHON_VERSION} == 3.[6789] ]] || pip install pyblake2"
    # always install pygost for Streebog
    - pip install pygost

script:
    - printf "[build_ext]\nportage-ext-modules=true" >> setup.cfg
    - find . -type f -exec
          sed -e "s|@PORTAGE_EPREFIX@||"
              -e "s|@PORTAGE_BASE@|${PWD}|"
              -e "s|@PORTAGE_MV@|$(type -P mv)|"
              -e "s|@PORTAGE_BASH@|$(type -P bash)|"
              -e "s|@PREFIX_PORTAGE_PYTHON@|$(type -P python)|"
              -e "s|@DEFAULT_PATH@|/usr/bin:/bin|"
              -e "s|@EXTRA_PATH@|/usr/sbin:/sbin|"
              -e "s|@portagegroup@|$(id -gn)|"
              -e "s|@portageuser@|$(id -un)|"
              -e "s|@rootuser@|$(id -un)|"
              -e "s|@rootuid@|$(id -u)|"
              -e "s|@rootgid@|$(id -g)|"
              -e "s|@sysconfdir@|/etc|"
              -i '{}' +
    - ./setup.py test
    - ./setup.py install --root=/tmp/install-root
    # prevent repoman tests from trying to fetch metadata.xsd
    - mkdir -p /tmp/install-root/usr/lib/portage/cnf
    - cp repoman/cnf/metadata.xsd /tmp/install-root/usr/lib/portage/cnf/
    - sudo rsync -a /tmp/install-root/. /
    - python -b -Wd -m portage.tests.runTests
    # repoman test block
    - repoman/setup.py test
    - repoman/setup.py install --root=/tmp/install-root
    - sudo rsync -a /tmp/install-root/. /
    - python -b -Wd -m repoman.tests.runTests
